<script type='text/javascript'>
 $(function() {
   Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":3,"size_y":1},{"col":4,"row":1,"size_x":3,"size_y":1},{"col":3,"row":2,"size_x":2,"size_y":1}]')
 });
 </script>


<% content_for :title do %>Zenboard<% end %>
  <center><h1>Internal Escalations</h1></center>
    <div class="gridster">

    <ul>
  <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
  <div data-id="360016776498" data-view="Number" data-title="internal escalations in the last month" data-bgcolor="rgba(104, 96, 144, 1)"></div>
  <i class="fa fa-envelope icon-background" style="font-size: 225px"></i>
  </li>

  <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
  <div data-id="360016786957" data-view="Number" data-title="solved internally" data-bgcolor="rgba(104, 96, 144, 1)"></div>
  <i class="fa fa-envelope icon-background" style="font-size: 225px"></i>
  </li>

  <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
  <div data-id="163887427" data-view="Number" data-title="internal escalations (all time)" data-bgcolor="rgba(104, 96, 144, 1)"></div>
  <i class="fa fa-envelope icon-background" style="font-size: 225px"></i>
  </li>
</ul>
  </div>