<% content_for :title do %>Support<% end %>
  <center><h1>Tech Support Queues</h1></center>
<div class="gridster">
  <ul>
  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="27403332" data-view="Number" data-title="unassigned" data-suffix="" data-bgcolor="rgba(59, 134, 134, 1)"></div>
    <i class="fa fa-envelope icon-background" style="font-size: 225px"></i>
  </li>
  
  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="29311566" data-view="Number" data-title="inbox (new)" data-bgcolor="rgba(83, 161, 188, 1)"></div>
    <i class="fa fa-envelope icon-background" style="font-size: 225px"></i>
  </li>

  <li data-row="2" data-col="1" data-sizex="3" data-sizey="1">
  <div data-id="75065288" data-view="Number" data-title="2 hours to breach" data-suffix="" data-bgcolor="rgba(185, 20, 20, 1")></div>
  <i class="fa fa-envelope icon-background" style="font-size: 225px"></i>
  </li>

  <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
  <div data-id="360102654454" data-view="Number" data-title="urgent open" data-suffix=""></div>
  <i class="fa fa-envelope icon-background" style="font-size: 225px"></i>
  </li>
  </ul>
</div>